<div ng-controller="BlocoController">
    <h2 ng-show="!preenchendoBloco">Blocos</h2>
    <h2 ng-show="preenchendoBloco && !edicaoBlock">Novo Bloco</h2>
    <div ng-show="naoAdicionar" class="row">
        <div class="col-3 falhaMateria">
            <div>{{mensagemErroAdicionar}}</div>
        </div>
    </div>
    <div ng-show="blocoEditado" class="row">
        <div class="col-3 sucessoMateria">
            <div>{{mensagemSucesso}}</div>
        </div>
    </div>
    <div class="flexBlocosContainer" ng-show="!preenchendoBloco">
        <div ng-repeat="bloco in blocos track by $index">
            <button type="button" class="btn btn-primary botaoBloco" ng-click="editarBloco(bloco)">{{bloco}}</button>
        </div>
        <div>
            <button type="button" class="btn btn-success botaoBloco" ng-click="preencherBloco()">+</button>
        </div>
    </div>

    <div class="row inputBloco" ng-show="preenchendoBloco">
        <div class="col-4" style="width: 400px;">
            <label>Nome Bloco: </label>
            <input ng-disabled="edicaoBlock" class="form-control" ng-model="nomeBloco" id="nomeBlocoInput"></input>
        </div>
    </div>
    <div class="row inputBloco" ng-show="preenchendoBloco">
        <div class="col-4" style="width: 400px;">
            <button ng-disabled="edicaoBlock" type="button" class="btn btn-success float-end" ng-click="adicionarBloco()">Adicionar</button>
            <button type="button" class="btn btn-danger float-end botaoVoltar" ng-click="voltar()">Voltar</button>
        </div>
    </div>
</div>

<style>
    .flexBlocosContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1000px;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
    }
    .botaoBloco {
        width: 200px;
        display: inline;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .falhaMateria {
        background-color: rgb(233, 96, 96);
        border: 2px solid red;
        border-radius: 2px;
        margin: 0 auto;
        margin-top: 300px;
    }
    .sucessoMateria {
        background-color: rgb(43, 194, 111);
        border: 2px solid green;
        margin: 0 auto;
    }
    .inputBloco {
        justify-content: center;
        padding-top: 30px;
    }
    h2 {
        padding-top: 30px;
        text-align: center;
    }
    .botaoVoltar {
        margin-right: 10px;
    }
</style>