<div ng-controller="CadastroController">
    <h2>Cadastro</h2>
    <div ng-show="falhaCadastro" class="row">
        <div class="col-3 falhaCadastro">
            <div>{{mensagem}}</div>
        </div>
    </div>
    <div class="row containerNome">
        <div class="col-4">
            <label>Nome: </label>
            <input class="form-control" type="text" ng-model="nome" id="nome">
        </div>  
    </div>
    <div class="row containerSobrenome">
        <div class="col-4">
            <label>Sobrenome: </label>
            <input class="form-control" type="text" ng-model="sobrenome" id="sobrenome">
        </div>  
    </div>
    <div class="row containerCodigo">
        <div class="col-4">
            <label>Código: </label>
            <input class="form-control" type="text" ng-model="codigo" id="codigo">
        </div>  
    </div>
    <div class="row containerLogin">
        <div class="col-4">
            <label>Login: </label>
            <input class="form-control" type="email" ng-model="login" id="login">
        </div>  
    </div>
    <div class="row containerSenha">
        <div class="col-4">
            <label>Senha: </label>
            <input class="form-control" type="password" ng-model="senha" id="senha">
        </div>
    </div>
    <div class="row containerRepetirSenha">
        <div class="col-4">
            <label>Repita a Senha: </label>
            <input class="form-control" type="password" ng-model="repetirsenha" id="repetirsenha">
        </div>
    </div>
    <div class="row containerBotaoCadastro">
        <div class="col-4">
            <button ng-disabled="cadastrando" type="button" class="btn btn-success float-end" ng-click="cadastrarProfessor(nome, sobrenome, codigo, senha, repetirsenha)" id="botaoCadastro">Cadastrar</button>
            <button type="button" class="btn btn-info float-end" ng-click="voltar()" id="botaoVoltar">Voltar</button>
        </div>
    </div>
</div>

<style>
    .containerBotaoCadastro {
        padding-top: 20px;
        justify-content: center;
    }
    .containerNome {
        justify-content: center;
        padding-top: 20px;
    }
    .containerSobrenome {
        padding-top: 20px;
        justify-content: center;
    }
    .containerCodigo {
        padding-top: 20px;
        justify-content: center;
    }
    .containerLogin {
        padding-top: 20px;
        justify-content: center;
    }
    .containerSenha {
        padding-top: 20px;
        justify-content: center;
    }
    .containerRepetirSenha {
        padding-top: 20px;
        justify-content: center;
    }
    h2 {
        padding-top: 30px;
        text-align: center;
    }
    .falhaCadastro {
        background-color: rgb(233, 96, 96);
        border: 2px solid red;
        border-radius: 2px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    #botaoVoltar {
        margin-right: 10px;
    }
</style>