<!DOCTYPE html>
<html lang="pt-br" ng-app="presencaApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presença QR Code</title>
</head>
<body>
    <ng-include ng-if="usuarioAdmin" src="'./app/views/partials/header.html'"></ng-include>
    <ng-include ng-if="!usuarioAdmin && usuarioLogadoId != null" src="'./app/views/partials/header2.html'"></ng-include>
    <ng-view></ng-view>
    <ng-include src="'./app/views/partials/footer.html'"></ng-include>

    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase.js"></script>

    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />

    <script src="./app/assets/js/firebase/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/qrcode/qrcode.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>  
    <script type="text/javascript" src="./app/assets/js/app.js"></script>
    <script type="text/javascript" src="./app/assets/js/appConfig.js"></script>
    <script type="text/javascript" src="./app/controllers/QRCodeController.js"></script>
    <script type="text/javascript" src="./app/controllers/LoginController.js"></script>
    <script type="text/javascript" src="./app/controllers/MateriaController.js"></script>
    <script type="text/javascript" src="./app/controllers/BlocoController.js"></script>
    <script type="text/javascript" src="./app/controllers/SalaController.js"></script>
    <script type="text/javascript" src="./app/controllers/CadastroController.js"></script>
    <script type="text/javascript" src="./app/controllers/PerfilController.js"></script>
</body>
</html>