<div ng-controller="QRCodeController">
    <form class="flexContainerMain">
        <div class="row">
            <div class="col-6" style="width: 300px;">
                <label>Bloco: </label>
                <select class="form-select" ng-model="blocoSelecionado" ng-change="trocarSalas(blocoSelecionado)"  ng-options="bloco for bloco in blocos"></select>
            </div>
            <div class="col-6" style="width: 300px;">
                <label>Sala: </label>
                <select class="form-select" ng-model="salaSelecionada" ng-options="sala for sala in salas"></select>
            </div>
        </div>
    </form>
    <h2>QR Code</h2>
    <div ng-show="erroQRCode" class="row">
        <div class="col-3 falhaMateria">
            <div>{{mensagemErro}}</div>
        </div>
    </div>
    <div id="qrcode"></div>
    <div class="flexButton">
        <button type="button" class="btn btn-primary" ng-click="gerarQRCode()">Gerar QRCode</button>
        <button type="button" class="btn btn-info" ng-click="gerarPlanilha()">Gerar Planilha</button>
    </div>
</div>

<style>
    .falhaMateria {
        background-color: rgb(233, 96, 96);
        border: 2px solid red;
        border-radius: 2px;
        margin: 0 auto;
        margin-top: 300px;
    }
    .flexContainerMain {
        display: flex;
        flex-direction: row;
        color: black;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
        gap: 30px;
        width: 600px;
    }

    #qrcode {
        width: 260px;
        height: 260px;
        border: 2px solid black;
        margin: 0 auto;
        margin-top: 40px;
    }

    .flexButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        margin: 0 auto;
        gap: 20px;
        margin-top: 20px;
    }
    h2 {
        padding-top: 30px;
        text-align: center;
    }
</style>