<div ng-controller="LoginController" class="loginContainer">
    <div ng-show="falhaLogin" class="row">
        <div class="col-3 falhaLogin">
            <div>{{mensagem}}</div>
        </div>
    </div>

    <div class="row containerLogin">
        <div class="col-4">
            <label>Login: </label>
            <input class="form-control" type="email" ng-model="login" id="login">
        </div>  
    </div>
    <div class="row containerSenha">
        <div class="col-4">
            <label>Senha: </label>
            <input class="form-control" type="password" ng-model="senha" id="senha">
        </div>
    </div>
    <div class="row containerBotaoLogin">
        <div class="col-4">
            <button ng-disabled="logando" type="button" class="btn btn-success float-end" ng-click="logar()" id="botaoLogin">Entrar</button>
        </div>
    </div>
</div>

<style>
    .containerLogin {
        justify-content: center;
    }
    .containerSenha {
        padding-top: 20px;
        justify-content: center;
    }
    .loginContainer {
        margin-top: 50px;
    }
    .containerBotaoLogin {
        padding-top: 20px;
        justify-content: center;
    }
    .falhaLogin {
        background-color: rgb(233, 96, 96);
        border: 2px solid red;
        border-radius: 2px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
</style>