<div ng-controller="MateriaController">
    <h2 ng-show="!edicaoNovoBloco">Selecione um bloco</h2>
    <div class="flexBlocosContainer" ng-show="!edicaoNovoBloco">
        <div ng-repeat="bloco in blocos track by $index">
            <button type="button" class="btn btn-primary botaoBloco" ng-click="editarBloco(bloco)">{{bloco}}</button>
        </div>
    </div>
    <div id="dadosBloco" ng-if="edicaoNovoBloco">
        <h2 ng-if="edicaoBlocoSalaMenu" ng-show="blocoParaEdicao != undefined">Edição do bloco {{blocoParaEdicao}}</h2>
        <div ng-if="edicaoBlocoSalaMenu" id="salasBloco">
            <table class="table table-hover table-bordered">
                <tr>
                    <th class="table-secondary" colspan="2">Salas</th>
                </tr>
                <tr>
                    <th>Ação</th>
                    <th>Sala</th>
                </tr>
                <tr ng-repeat="sala in salas track by $index">
                    <td><button type="button" class="btn btn-info" ng-click="editarSala(sala)">Editar</button></td>
                    <td>{{sala}}</td>
                </tr>
            </table>
        </div>
        <h2 ng-show="salaEdit">Editando Matérias da Sala {{salaParaEdicao}}</h2>
        <div ng-show="materiaNaoEncontrada" class="row">
            <div class="col-3 falhaMateria">
                <div>{{mensagem}}</div>
            </div>
        </div>
        <div ng-show="materiaEditada" class="row">
            <div class="col-3 sucessoMateria">
                <div>{{mensagemSucesso}}</div>
            </div>
        </div>
        <div ng-show="materiaDeletada" class="row">
            <div class="col-3 sucessoMateria">
                <div>{{mensagemDelecao}}</div>
            </div>
        </div>
        <div ng-show="naoAdicionar" class="row">
            <div class="col-3 falhaMateria">
                <div>{{mensagemErroAdicionar}}</div>
            </div>
        </div>
        <form class="flexContainerSala" ng-show="salaEdit">
            <div class="row">
                <div class="col-6" style="width: 300px;">
                    <label>Dia da Semana: </label>
                    <select class="form-select" ng-model="diaDaSemanaSelecionado" ng-change="disableRemover()" ng-options="diaSemana for diaSemana in diasDaSemana"></select>
                </div>
                <div class="col-6" style="width: 300px;">
                    <label>Turno: </label>
                    <select class="form-select" ng-model="turnoSelecionado" ng-change="disableRemover()" ng-options="tur for tur in turno"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-6" style="width: 300px;">
                    <label>Número Aula: </label>
                    <select class="form-select" ng-model="numeroAulaSelecionado" ng-change="disableRemover()" ng-options="numAula for numAula in numeroAula"></select>
                </div>
                <div class="col-6" style="width: 300px;">
                    <label>Matéria: </label>
                    <input class="form-control" ng-model="nomeMateria" ng-change="disableRemover()" ng-disabled="!materiaEncontrada" id="nomeMateriaInput"></input>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-9">
                <div class="botaoPesquisa">
                    <button ng-show="salaEdit" type="button" class="btn btn-info float-end" ng-click="buscarMateria(diaDaSemanaSelecionado, turnoSelecionado, numeroAulaSelecionado)">Pesquisar</button>
                    <button ng-show="salaEdit" ng-disabled="!salaEdit || !materiaEncontrada" type="button" class="btn btn-success float-end botaoAdiciona" ng-click="adicionarMateria()">Adicionar</button>
                    <button ng-show="salaEdit" ng-disabled="!salaEdit || !materiaEncontrada || botaoRemoveAtivo" type="button" class="btn btn-danger float-end botaoRemove" ng-click="removerMateria()">Remover</button>
                    <button ng-show="salaEdit" type="button" class="btn btn-info float-end botaoRemove" ng-click="voltarParaBlocos()">Voltar</button>
                </div>
            </div>
        </div>
        <div id="botaoFinal">
            <button type="button" class="btn btn-danger float-end botaoCancelar" ng-click="cancelarEdicao()" ng-if="edicaoBlocoSalaMenu">Cancelar</button>
        </div>
    </div>
</div>

<style>

    .flexContainerSala {
        display: flex;
        flex-direction: row;
        color: black;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 20px;
        gap: 30px;
        width: 600px;
    }
    .botaoBloco {
        width: 200px;
        display: inline;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .flexBlocosContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1000px;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
    }

    h2 {
        padding-top: 30px;
        text-align: center;
    }

    #salasBloco {
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
    }

    tr {
        text-align: center;
    }

    #botaoFinal {
        padding-bottom: 50px;
        margin-right: 100px;
    }

    .botaoCancelar {
        margin-right: 10px;
    }

    .botaoPesquisa {
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .falhaMateria {
        background-color: rgb(233, 96, 96);
        border: 2px solid red;
        border-radius: 2px;
        margin: 0 auto;
    }
    .botaoAdiciona {
        margin-right: 10px;
    }
    .botaoRemove {
        margin-right: 10px;
    }
    .sucessoMateria {
        background-color: rgb(43, 194, 111);
        border: 2px solid green;
        margin: 0 auto;
    }
</style>