<div ng-controller="PerfilController">
    <h2>Perfil</h2>
    <div ng-show="professorEditado" class="row">
        <div class="col-3 professorEditado">
            <div>{{mensagem}}</div>
        </div>
    </div>
    <div class="row containerNome">
        <div class="col-4">
            <label>Nome: </label>
            <input ng-disabled="editando" class="form-control" type="text" ng-model="nome" id="nome">
        </div>  
    </div>
    <div class="row containerSobrenome">
        <div class="col-4">
            <label>Sobrenome: </label>
            <input ng-disabled="editando" class="form-control" type="text" ng-model="sobrenome" id="sobrenome">
        </div>  
    </div>
    <div class="row containerCodigo">
        <div class="col-4">
            <label>Código: </label>
            <input disabled class="form-control" type="text" ng-model="codigo" id="codigo">
        </div>  
    </div>
    <div class="row containerBotaoCadastro">
        <div class="col-4">
            <button ng-disabled="editando" type="button" class="btn btn-danger float-end" ng-click="deslogar()" id="botaoSair">Deslogar</button>
            <button ng-disabled="editando" type="button" class="btn btn-success float-end" ng-click="editarProfessor(nome, sobrenome)" id="botaoEditar">Editar</button>
        </div>
    </div>
</div>

<style>
    .containerBotaoCadastro {
        padding-top: 20px;
        justify-content: center;
    }
    .containerNome {
        justify-content: center;
        padding-top: 20px;
    }
    .containerSobrenome {
        padding-top: 20px;
        justify-content: center;
    }
    .containerCodigo {
        padding-top: 20px;
        justify-content: center;
    }
    .containerLogin {
        padding-top: 20px;
        justify-content: center;
    }
    h2 {
        padding-top: 30px;
        text-align: center;
    }
    .professorEditado {
        background-color: rgb(43, 194, 111);
        border: 2px solid green;
        margin: 0 auto;
    }
    #botaoEditar {
        margin-right: 10px;
    }
</style>