<div ng-controller="SalaController">
    <h2 ng-if="!edicaoBlocoSalaMenu">Selecione um bloco</h2>
    <h2 ng-if="edicaoBlocoSalaMenu && !criandoNovaSala">Edição do bloco {{blocoParaEdicao}}</h2>
    <h2 ng-show="criandoNovaSala">Nova Sala</h2>
    <div ng-show="naoAdicionar" class="row">
        <div class="col-3 falhaMateria">
            <div>{{mensagemErroAdicionar}}</div>
        </div>
    </div>
    <div ng-show="salaEditada" class="row">
        <div class="col-3 sucessoMateria">
            <div>{{mensagemSucesso}}</div>
        </div>
    </div>
    <div ng-if="!edicaoBlocoSalaMenu" class="flexBlocosContainer">
        <div ng-repeat="bloco in blocos track by $index">
            <button type="button" class="btn btn-primary botaoBloco" ng-click="editarBloco(bloco)">{{bloco}}</button>
        </div>
    </div>

    <div ng-if="edicaoBlocoSalaMenu && !criandoNovaSala" id="salasBloco">
        <table class="table table-hover table-bordered">
            <tr>
                <th class="table-secondary" colspan="2">Salas</th>
            </tr>
            <tr>
                <th>Ação</th>
                <th>Sala</th>
            </tr>
            <tr ng-repeat="sala in salas track by $index">
                <td><button type="button" class="btn btn-danger" ng-click="deletarSala(sala)">Deletar</button></td>
                <td>{{sala}}</td>
            </tr>
        </table>
    </div>
    <div id="botaoFinal">
        <button type="button" class="btn btn-success float-end botaoCancelar" ng-click="novaSala()" ng-show="edicaoBlocoSalaMenu && !criandoNovaSala">Nova Sala</button>
        <button type="button" class="btn btn-danger float-end botaoCancelar" ng-click="cancelarEdicao()" ng-show="edicaoBlocoSalaMenu && !criandoNovaSala">Cancelar</button>
    </div>
    <div class="row inputSala" ng-show="criandoNovaSala">
        <div class="col-4" style="width: 400px;">
            <label>Numeração Sala: </label>
            <input class="form-control" ng-model="nomeSala" id="nomeSalaInput"></input>
        </div>
    </div>
    <div class="row inputSala" ng-show="criandoNovaSala">
        <div class="col-4" style="width: 400px;">
            <button type="button" class="btn btn-success float-end" ng-click="adicionarSala()">Adicionar</button>
            <button type="button" class="btn btn-danger float-end botaoVoltar" ng-click="voltar()">Voltar</button>
        </div>
    </div>"
</div>

<style>
    .flexBlocosContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1000px;
        justify-content: center;
        margin: 0 auto;
        margin-top: 30px;
    }
    .botaoBloco {
        width: 200px;
        display: inline;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .sucessoMateria {
        background-color: rgb(43, 194, 111);
        border: 2px solid green;
        margin: 0 auto;
    }
    h2 {
        padding-top: 30px;
        text-align: center;
    }
    tr {
        text-align: center;
    }
    #salasBloco {
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .botaoCancelar {
        margin-right: 10px;
    }
    #botaoFinal {
        padding-bottom: 50px;
        margin-right: 100px;
    }
    .inputSala {
        justify-content: center;
        padding-top: 30px;
    }
    .botaoVoltar {
        margin-right: 10px;
    }
    .falhaMateria {
        background-color: rgb(233, 96, 96);
        border: 2px solid red;
        border-radius: 2px;
        margin: 0 auto;
        margin-top: 300px;
    }
</style>