<footer>
    <ol class="flexContainerFooter">
        <li>
            Projeto QR Code
        </li>
    </ol>
</footer>

<style>
    html {
        height: 100%;
        box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    body, ol, li {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        position: relative;
        margin: 0;
        padding: 0;
        padding-bottom: 7rem;
        min-height: 100%;
    }

    footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 10px;
        background-color: black;
    }

    ol {
        height: 60px;
    }

    .flexContainerFooter {
        display: flex;
        flex-direction: row;
        font-size: 35px;
        color: white;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
</style>