<header>
    <ol class="flexContainerHeader">
        <li><a style="text-decoration: none;" href="/inicio">
            QR Code
        </a></li>
        <li><a style="text-decoration: none;" href="/bloco">
            Bloco
        </a></li>
        <li><a style="text-decoration: none;" href="/sala">
            Sala
        </a></li>
        <li><a style="text-decoration: none;" href="/materia">
            Matéria
        </a></li>
        <li><a style="text-decoration: none;" href="/cadastro">
            Cadastro
        </a></li>
        <li><a style="text-decoration: none;" href="/perfil">
            Perfil
        </a></li>
    </ol>
</header>

<style>
    body, ol, li {
        font-family: Arial;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        color: black;
    }

    a:visited {
        color: black;
    }

    header {
        height: 60px;
        background-color: #2CC427;
    }

    ol {
        height: 60px;
    }

    .flexContainerHeader {
        display: flex;
        flex-direction: row;
        font-size: 35px;
        color: #043D02;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
</style>